body {
  font-family: Arial, sans-serif;
  background-color: #0b0ba7;
}

.quiz-container {
  width: 400px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  
}
ul {
  list-style: none;
  padding: 0;
}

.option {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#nextBtn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}
